@using AgencyAlchemy.Models;

@model PagedItemsModel

@{
    ViewBag.Title = "User Management";
}
<style>
    #pager li {
        list-style: none;
        float:left;
        border:1px solid #f2eded;
        text-align:center;
        vertical-align:middle;
        margin-left:5px;
        margin-bottom:5px;
    }
</style>

<div class="span12">
	<div class="well-contained " id="user_manage_list-people_list">
	    <h3>User Management</h3>
        <table class="datatable table table-hover table-condensed">
	        <thead>
		        <tr>
			        <th>Name</th>
			        <th>Stage Name</th>
			        <th>Phone</th>
			        <th>Created</th>
			        <th>Agencies</th>
			        <th></th>
		        </tr>
	        </thead>
	        <tbody>
                @{ 
                    int previousId = 0; 
                    String url;
                  }

                @foreach(var user in Model.Items){
                    
		            <tr>
		                <td><a href="/Agency/Member/@user.people_pk">@user.people_lastname, @user.people_firstname</a></td>
		                <td>@user.agencypeople_stagename</td>
		                <td>@user.people_phone</td> 
		                <td>@user.people_created</td>
		                <td>		
                           @{ url = String.Format(@"http://{0}.agencyalchemy.com", user.agency_url); }

                            <a href='@url'>@user.agency_name</a>

                            @if (previousId == user.people_pk) {

                                url = String.Format(@"http://{0}.agencyalchemy.com", user.agency_url);
                                
                                <br /><a href='@url'>@user.agency_name</a>
                            }
			             
				        </td>
		                <td>
			                <a href="mailto://@user.people_email" title="Email"><i class="fa fa-envelope-o"></i></a>
			                <span style="display:none">@user.people_email</span>
			                <a href="/Account/Login?email=@user.people_email" class="btn btn-mini" title="Impersonate"><i class="fa fa-user"></i></a>
		                </td>
	                </tr>
                    
                    previousId = user.people_pk;
                }
            </tbody>
        </table>
        
              @{
                  int i = Model.Page;
                  int previousPage = ((Model.Page - Model.PageSize) < 1) ? 1 : Model.Page - Model.PageSize;
                  int nextPage = (i == 1) ? Model.PageSize + 1 : Model.Page + Model.PageSize;
                
                }

                @if (Model.Pages > 1) { 
                    
                    <ul id="pager">
                        @if (Model.Page > 1)
                        { <li style="width:100px; height:25px"><a href="/Agency/Users/@previousPage/@Model.PageSize">Previous</a> </li>}
                        
                        @if (Model.Page != Model.Pages) { 
                            
                            while (i < Model.Page + Model.PageSize &&  i <= Model.Pages) { 
                                <li  style="width:25px;height:25px;float:left;"><a href="/Agency/Users/@i/@Model.PageSize">@i</a></li>
                                ++i;
                            }
                        
                            if (i <= Model.Pages) { <li style="width:80px; height:25px"><a href="/Agency/Users/@nextPage/@Model.PageSize">Next</a> </li>}
                        }
                    </ul>
                    
                }
        <div style="clear:left" />
        
    </div>
</div>
